<a href="https://colab.research.google.com/github/janmilson-dinglasan/CPEN-21A-ECE-2-1/blob/main/Demo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Intro to Python Programming

In [1]:
#Python Indention
if 5>2:
  print("Five is greater than two")

Five is greater than two

In [2]:
x= 1
a, b = 0, 1
a,b,c= 0,1,2
print(x)
print(a)
print(b)
print(c)

1
0
1
2

In [5]:
d= "Sally"
print(d)
e= 'John'
print(e)

Sally
John

In [7]:

f = float(4)
print(f)
g= int(5)
print(g)

4.0
5

In [8]:
x = y = z = "four"
print(x)
print(y)
print(z)

four
four
four

In [9]:
x = "enjoying"
print("Python Programming is" " " + x)

Python Programming is enjoying

In [18]:
x = 5
y = 7
x += y #This is the same as x = x + y
print(x)

12

In [22]:
x = 5
y = 7
x<y and y==y
x>y or y==y

True

In [24]:
x is y

False

In [23]:
x is not y

True